<h1>Your Entries</h1>

<%= link_to "New entry", new_entry_path %>

<table>
  <tr>
    <th>Word</th>
    <th>Definition</>
    <th>Example</>
    <th></th>
  </tr>

  <% @entries.each do |entry| %>
    <tr>
      <td><%= entry.word %></td>
      <td><%= entry.definition %></td>
      <td><%= entry.example %></td>
      <td><%= link_to "Show", entry_path(entry) %></td>
      <td><%= link_to "Edit", edit_entry_path(entry) %></td>
      <td><%= link_to "Destroy", entry_path(entry), method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
</table>

<button id="practiceButton">Practice</button>

# <button id="practiceWordsButton" onclick="practiceWords('<%= @entries.sample.definition %>')">Practice Words</button>

# <script>
# function practiceWords(definition){
#   var word = prompt(definition, "Please type in the word");
#   if (word != null) {
#     document.getElementById("practiceWordsButton").innerHTML = "The word " + word + " is correct.";
#   }
# }
# </script>

<button type="input" onclick="practiceChunks('<%= @entries.sample.example %>')">Practice Chunks</button>
<script>
function practiceChunks(example){
  prompt(example, "Please type in the missing chunk");
}
</script>
